*{
    margin:0;
    padding: 0;
    overflow: hidden;
}
body{
    background: url("./dan-dimmock-sNwnjxm8eTY-unsplash.jpg") no-repeat center center/cover;
    height: 100vh;
}

.container{
    margin:2em;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.main-logo{
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
img.logo{
    height: 2em;
    background: rgb(94, 88, 77);
}
header{
    display: flex;
    justify-content: space-between;
}
header .nav .logo-open .active{
    visibility: hidden;
}
header .nav .navigation{
    /* display: none; */
    /* background: rgb(233,240,237); */
background: linear-gradient(90deg, rgba(233,240,237,0.7175245098039216) 100%, rgba(180,170,186,0.7819502801120448) 100%, rgba(178,170,185,0.87718837535014) 100%, rgba(177,170,184,0.9528186274509804) 100%, rgba(177,170,184,0.87718837535014) 100%, rgba(174,171,183,1) 100%);
    height: 100vh;
    position: absolute;
    top: 0;
    right: -1em;
    width:45%;
    transform: translateX(100%);
    /* visibility: hidden; */
}
header .nav .navigation .exit{
    margin-top:1em;
    margin-right: 1em;
    background:rgb(209, 209, 8);
    border-radius: 100%;
}
header .nav .active{
    transform: translateX(00%);
}
header .nav .navigation li {
    padding:1em .5em;
    list-style-type: none;
}
header .nav .navigation li a>:first-child{
    position: fixed;
    right: 2em;

}
header .nav .navigation li a{
    text-decoration: none;
    color: rgb(8, 8, 7);
    padding:1em .5em;
    font-weight: bold;
}
.showcase{
    margin-top:6em;
}
.showcase .main-info h1{
    font-size:3em ;
    color: floralwhite;
}
.showcase .main-info p{
    color:rgba(32, 21, 185, 0.801);
    margin-top:2.5em ;
    width:70%;
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: 540;
}
.showcase .main-info .highlight{
    color: rgb(195, 228, 8);
}
.showcase .sub-info{
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
.showcase .sub-info .btn{
    display: block;
    padding: .8em 1em;
    background: rgb(215, 238, 8);
    border-radius: 8px;
}